@import url('https://db.onlinewebfonts.com/c/1a998736e1a95af302b555d9cf0f552b?family=Cupra');

$font: Cupra, sans-serif;

$color-background: #262421;
$color-font-light: #fff;
$color-font-dark: #000;
$color-font-grey: #242221;

$color-focus-dark: #494949;
